In [1]:
import numpy as np
import pandas as pd
% matplotlib inline
import matplotlib.pyplot as plt

In [2]:
first = pd.read_csv("E:/Projects/DeepLearning/churn.csv")
first.head()

,Unnamed: 0,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,0,KS,128,415,382-4657,no,yes,25,265.1,110,...,99,16.78,244.7,91,11.01,10.0,3,2.7,1,False.
1,1,OH,107,415,371-7191,no,yes,26,161.6,123,...,103,16.62,254.4,103,11.45,13.7,3,3.7,1,False.
2,2,NJ,137,415,358-1921,no,no,0,243.4,114,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,3,OH,84,408,375-9999,yes,no,0,299.4,71,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,4,OK,75,415,330-6626,yes,no,0,166.7,113,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [3]:
first.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 22 columns):
Unnamed: 0        3333 non-null int64
State             3333 non-null object
Account Length    3333 non-null int64
Area Code         3333 non-null object
Phone             3333 non-null object
Int'l Plan        3333 non-null object
VMail Plan        3333 non-null object
VMail Message     3333 non-null int64
Day Mins          3333 non-null float64
Day Calls         3333 non-null int64
Day Charge        3333 non-null object
Eve Mins          3333 non-null object
Eve Calls         3333 non-null object
Eve Charge        3333 non-null float64
Night Mins        3333 non-null float64
Night Calls       3333 non-null int64
Night Charge      3333 non-null object
Intl Mins         3333 non-null float64
Intl Calls        3333 non-null object
Intl Charge       3333 non-null object
CustServ Calls    3333 non-null int64
Churn?            3333 non-null object
dtypes: float64(4), int64(6), object(12)
memory usage: 572.9+ KB

In [4]:
#dropping the unwanted variables from the dataset
first.drop(["State"], axis = 1, inplace = True)
first.drop(["Phone"], axis = 1, inplace = True)
first.drop(["Area Code"], axis = 1, inplace = True)

In [5]:
#As the dataset contains the missing value in the form of "?", we need to replace it by 0
first['Day Charge'].replace("?", np.NaN, inplace = True)
first['Eve Mins'].replace("?", np.NaN, inplace = True)
first['Eve Calls'].replace("?", np.NaN, inplace = True)
first['Night Charge'].replace("?", np.NaN, inplace = True)
first['Intl Calls'].replace("?", np.NaN, inplace = True)
first['Intl Charge'].replace("?", np.NaN, inplace = True)
first["Int'l Plan"].replace("?", np.random.choice(['yes', 'no']), inplace = True)
first["VMail Plan"].replace("?", np.random.choice(['yes', 'no']), inplace = True)

In [7]:
#Changing the datatypes of all the variables accordingly - float or int
first["Day Charge"] = first['Day Charge'].astype(str).astype(float)
first["Eve Mins"] = first['Eve Mins'].astype(str).astype(float)
first["Eve Calls"] = first['Eve Calls'].astype(str).astype(float)
first["Night Charge"] = first['Night Charge'].astype(str).astype(float)
first["Intl Calls"] = first['Intl Calls'].astype(str).astype(float)
first["Intl Charge"] = first['Intl Charge'].astype(str).astype(float)

In [8]:
first.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 19 columns):
Unnamed: 0        3333 non-null int64
Account Length    3333 non-null int64
Int'l Plan        3333 non-null object
VMail Plan        3333 non-null object
VMail Message     3333 non-null int64
Day Mins          3333 non-null float64
Day Calls         3333 non-null int64
Day Charge        3221 non-null float64
Eve Mins          3245 non-null float64
Eve Calls         2813 non-null float64
Eve Charge        3333 non-null float64
Night Mins        3333 non-null float64
Night Calls       3333 non-null int64
Night Charge      3023 non-null float64
Intl Mins         3333 non-null float64
Intl Calls        2671 non-null float64
Intl Charge       2981 non-null float64
CustServ Calls    3333 non-null int64
Churn?            3333 non-null object
dtypes: float64(10), int64(6), object(3)
memory usage: 494.8+ KB

In [9]:
#replacing the NaN values with mean of their values
first['Day Charge'].replace(np.NaN, first["Day Charge"].mean(), inplace = True)
first['Eve Mins'].replace(np.NaN,first["Eve Charge"].mean(), inplace = True)
first['Night Charge'].replace(np.NaN,first["Night Charge"].mean(), inplace = True)
first['Intl Charge'].replace(np.NaN, first["Intl Charge"].mean(), inplace = True)

In [10]:
first.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 19 columns):
Unnamed: 0        3333 non-null int64
Account Length    3333 non-null int64
Int'l Plan        3333 non-null object
VMail Plan        3333 non-null object
VMail Message     3333 non-null int64
Day Mins          3333 non-null float64
Day Calls         3333 non-null int64
Day Charge        3333 non-null float64
Eve Mins          3333 non-null float64
Eve Calls         2813 non-null float64
Eve Charge        3333 non-null float64
Night Mins        3333 non-null float64
Night Calls       3333 non-null int64
Night Charge      3333 non-null float64
Intl Mins         3333 non-null float64
Intl Calls        2671 non-null float64
Intl Charge       3333 non-null float64
CustServ Calls    3333 non-null int64
Churn?            3333 non-null object
dtypes: float64(10), int64(6), object(3)
memory usage: 494.8+ KB

In [11]:
var = ["Int'l Plan", "VMail Plan","Eve Calls", "Intl Calls", "Churn?" ]
for v in var:
    print("Frequency count in these variables: ")
    print(first[v].value_counts())

Frequency count in these variables:
no     3057
yes     276
Name: Int'l Plan, dtype: int64
Frequency count in these variables:
no     2167
yes    1166
Name: VMail Plan, dtype: int64
Frequency count in these variables:
105.0    70
94.0     68
101.0    60
90.0     57
109.0    57
108.0    57
97.0     56
111.0    56
102.0    56
88.0     56
106.0    55
96.0     54
110.0    53
98.0     52
100.0    51
103.0    51
86.0     50
95.0     49
91.0     49
115.0    49
104.0    49
99.0     48
83.0     48
113.0    47
87.0     47
114.0    47
92.0     47
117.0    47
93.0     47
89.0     45
         ..
139.0     5
52.0      5
147.0     4
54.0      4
140.0     4
150.0     3
53.0      3
155.0     3
46.0      3
149.0     3
50.0      2
148.0     2
57.0      2
151.0     2
55.0      2
12.0      1
153.0     1
168.0     1
154.0     1
170.0     1
145.0     1
156.0     1
43.0      1
164.0     1
159.0     1
0.0       1
37.0      1
45.0      1
49.0      1
44.0      1
Name: Eve Calls, dtype: int64
Frequency count in these variables:
3.0     534
4.0     495
2.0     385
5.0     383
6.0     264
7.0     171
1.0     133
9.0      92
8.0      89
10.0     44
11.0     24
0.0      15
13.0     14
12.0      9
14.0      6
15.0      5
18.0      3
16.0      2
19.0      1
20.0      1
17.0      1
Name: Intl Calls, dtype: int64
Frequency count in these variables:
False.    2850
True.      483
Name: Churn?, dtype: int64

In [12]:
first["Eve Calls"].replace(np.NaN, first["Eve Calls"].median(), inplace = True)
first["Intl Calls"].replace(np.NaN, first["Intl Calls"].median(), inplace = True)

In [13]:
first.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 19 columns):
Unnamed: 0        3333 non-null int64
Account Length    3333 non-null int64
Int'l Plan        3333 non-null object
VMail Plan        3333 non-null object
VMail Message     3333 non-null int64
Day Mins          3333 non-null float64
Day Calls         3333 non-null int64
Day Charge        3333 non-null float64
Eve Mins          3333 non-null float64
Eve Calls         3333 non-null float64
Eve Charge        3333 non-null float64
Night Mins        3333 non-null float64
Night Calls       3333 non-null int64
Night Charge      3333 non-null float64
Intl Mins         3333 non-null float64
Intl Calls        3333 non-null float64
Intl Charge       3333 non-null float64
CustServ Calls    3333 non-null int64
Churn?            3333 non-null object
dtypes: float64(10), int64(6), object(3)
memory usage: 494.8+ KB

In [14]:
# Isolate target data
churn_result = first['Churn?']
y = np.where(churn_result == 'True.',1,0)

In [15]:
first.drop(["Churn?"], axis = 1, inplace = True)

In [16]:
first.head()

,Unnamed: 0,Account Length,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,0,128,no,yes,25,265.1,110,30.56588,197.4,99.0,16.78,244.7,91,11.01,10.0,3.0,2.70,1
1,1,107,no,yes,26,161.6,123,30.56588,195.5,103.0,16.62,254.4,103,11.45,13.7,3.0,3.70,1
2,2,137,no,no,0,243.4,114,30.56588,121.2,110.0,10.30,162.6,104,7.32,12.2,5.0,3.29,0
3,3,84,yes,no,0,299.4,71,50.90000,61.9,88.0,5.26,196.9,89,8.86,6.6,7.0,1.78,2
4,4,75,yes,no,0,166.7,113,28.34000,148.3,122.0,12.61,186.9,121,8.41,10.1,3.0,2.73,3

In [17]:
yes_no_cols = ["Int'l Plan","VMail Plan"]
first[yes_no_cols] = first[yes_no_cols] == 'yes'

In [18]:
# Lets put in some new features in the dataset - Feature Engineering

first["Total Charges"] = first["Day Charge"] + first["Eve Charge"] + first["Night Charge"] + first["Intl Charge"]

In [19]:
from sklearn.preprocessing import StandardScaler

X = first.as_matrix().astype(np.float)

# This is important
scaler = StandardScaler()
X = scaler.fit_transform(X)
print ("Feature space holds %d observations and %d features" % X.shape)
print ("Unique target labels:", np.unique(y))

Feature space holds 3333 observations and 19 features
Unique target labels: [0 1]

In [78]:
from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier

kf = KFold(n_splits = 10, shuffle = True, random_state = 42)
model = RandomForestClassifier()
ypred=np.zeros_like(y,dtype=float)

def run(X, y, model, n_estimators):
    for train_index, test_index in kf.split(X):
        #print("TRAIN:", train_index, "TEST:", test_index)
        x_train, y_train = X[train_index], y[train_index]
        x_test, y_test = X[test_index], y[test_index]
        
        model.fit(x_train, y_train)
        
        ypred[test_index]= model.predict_proba(x_test)[:,1]
        
        
    return ypred

run(X, y , model, n_estimators = 10)

score = roc_auc_score(y, ypred)
score

0.89430423885801458